<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="/css/Confs.css" />
    <link rel="stylesheet" href="/resources/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/lib/caroussel/carousel.css" />
    <link rel="stylesheet" href="/resources/lib/bootstrap-ecommerce-uikit/css/ui.css" />
    <link rel="stylesheet" href="/resources/lib/bootstrap-ecommerce-uikit/css/responsive.css" media="only screen and (max-width: 1200px)" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
</head>
<body>
    <script src="/resources/lib/holder/holder.min.js"></script>
    <script src="/resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
    <script src="~/resources/lib/cookie/jquery.cookie.js"></script>
    <script src="~/resources/lib/mask/jquery.mask.min.js"></script>
    <script src="/resources/lib/popper1.14.6/popper.min.js"></script>
    <script src="/resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="~/js/ActionsVisitante.js"></script>
    <header>
        @await Component.InvokeAsync("Menu")
    </header>
    <div>
        @RenderBody()
    </div>
    <hr class="featurette-divider">


</body>
</html>
