
@{
    ViewData["Title"] = "Erro404";
}

<br />
<br />
<div class="container row" style="margin:auto;">

    <div class="col-8">
        <h1 style="font-size:100px;">Erro 404</h1>

        <p style="text-align:center">Oops! Não foi conseguimos encontrar o que você procurou</p>
    </div>
    <div class="col-4">
        <img src="~/img/erro-pagina.png" style="width:100%" />
    </div>
</div>

